main {
    max-height: 100vh;
}

.col-6 {
    height: 50vh;
}

body {
    background-image: url('https://media.istockphoto.com/id/580128842/fr/photo/fond-de-texture-de-panneau-de-bois-blanc.jpg?s=612x612&w=0&k=20&c=WZ5ev2uXVbaw8mof1L_nyO1GRIaQOiYWyCs81FaH524=');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* optionnel, pour un effet "fixe" */
}

.title {
  font-family: 'Pacifico', cursive;
  font-size: 100px;
  color: red;
  text-shadow: 2px 2px #000;
}

.title-poutine {
    align-items: center;
    justify-content: space-between;
    margin-top: -10px;
}

.categorie,
.line {
    display: flex;
    justify-content: space-between;
    gap: 8px; /* petit espace entre les colonnes si tu veux */
}

p {
  margin-bottom: 0 !important;
}

.categorie p:first-child,
.line p:first-child {
    flex: 2;
    text-align: left;
    
}

.categorie p:not(:first-child),
.line p:not(:first-child) {
    flex: 1; /* les prix */
    text-align: center;
}

.price {
    color: #e32115;
    font-weight: bold;
    font-size: 25px;
}

.dash {
    color: #222;
    font-weight: bold;
}

.Type {
    color: black;
    font-weight: bold;
    font-size: 23px;
}

 /* color: #898375; */

.name {
    color: #000;
    font-weight: bold;
    font-size: 22px;
    border-bottom: 0.1px solid gray;
}

.title-en-haut {
    margin-top: -10px;
}

.frite-title {
    margin-top: -20px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -30px;
}

.title-hotDog {
    align-items: center;
    justify-content: space-between;
    margin-bottom: -20px;
    margin-top: 0px;
}

.hamburger-title {
    margin-top: -105px;
    align-items: center;
    justify-content: space-between;
}

.extra-line {
    display: flex;
    justify-content: space-between;
}

.extra-price {
    font-size: 20px;
    padding-left: 10px;
    font-weight: bold;
}

.extra-nom {
    font-size: 20px;
    font-weight: bold;
}

.img-burger {
    margin-top: -20px;
}

.logo-cantine {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Pacifico', cursive;
  font-size: 100px;
  color: red;
  text-shadow: 2px 2px #000;
  height: 100vh;
  justify-content: space-between;
}

.container-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Pacifico', cursive;
  font-size: 100px;
  color: red;
  text-shadow: 2px 2px #000;
  height: 100vh;
  justify-content: center;
}

.titre-menu {
  font-size: 30px;
  margin-bottom: 10px;
  letter-spacing: 5px;
  color: black;
  font-weight: bold;
}

.vertical-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 70px;
  line-height: 1;
}

.nom-createur {
    font-size: 20px;
    text-shadow: none;
    color: black;
    padding-bottom: 20px;
}

body {
  overflow: hidden;
}
