.breuvage {
    margin-left: 210px;
}

.plus {
    margin-left: 180px;
}

.breuvage-section {
    margin-top: -190px;
}

.name {
    font-size: 25px;
}

.section-breuvage {
    margin-top: 95px;
}

.wrap-contenue {
    margin-top: -15px;
}

.title-carte {
    margin-top: 150px;
}

.extra-nom {
    font-size: 25px
}