name: Deploy Static Website

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Deploy to GitHub Pages
        run: |
          git config --global user.name "Github-Actions[bot]"
          git config --global user.email "github-actions@gmail.com"
  
          mkdir ../gh-pages
          cp -r * ../gh-pages
  
          cd ../gh-pages
          git init 
          git checkout -b gh-pages
          git add .
          git commit -m "Deploy to Github Pages"
  
          git push --force "https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}" gh-pages
